body{


}

#vis1{
    width: 90%;
}

#vis2{
    width: 90%;
}

#vis3 {
    width: 50%;
    height:300px;
}

#vis4{
    width: 40%;
    height:300px;
}
/*.barchart_container{*/

/*}*/

/*.visualizations{*/

/*}*/

#group{
    width: 100%;
    height: 650px;
}

.data-parent{
    fill: #69b3a2;
    stroke: whitesmoke;
    stroke-width: 2px;
}

#legend{
    position: absolute;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    padding: 2px 5px 2px 2px;
    border-radius: 5px;
    font-size: 12px;
    color: whitesmoke;
}

.title{
    font-weight: bold;
    font-size: 25px;
    color: #2e2e2e;
    text-align: center;
    align-self: center;
}

header{
    padding: 7vh 10vw;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}

header h1{
            margin: 0;
            color: rgba(255,255,255, 0.8);
            font-weight: 400;
}

footer{
    padding: 20px;
    text-align: center;
    align-self: center;
    background-color: rebeccapurple;
    color: rgba(255,255,255, 0.8);
    word-spacing: 2px;
}

footer a{
    color: rgba(255,255,255, 0.8);
    font-weight: bold;
    text-decoration-line: none;
}

svg text{
    font-size: 10px;

}

.vega-embed summary{
    display: none;
}